= form_for [@movie,@review] do |f|
	- if @review.errors.any?
		#error_explanation
			%h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
			%ul
				- @review.errors.full_messages.each do |msg|
					%li= msg

	.field
		#star-rating
	.field
		= f.label :comment
		= f.text_area :comment, class: "form-control"
	.actions
		= f.submit 'Save', class: "btn btn-sm btn-info"

:javascript
	$('#star-rating').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
